
.container, textarea{
  height: 14.5rem;
  width: 26rem;
  background-color: #4b0707;
  margin: 1rem 0px 0px 30rem;
  border: 10px outset red;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.container h1{
  text-align: center;
}
.inp{
  height: 1.7rem;
  width: 13rem;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.lb{
  margin: 0px 0px 0px 11px;
  font-size: 1.6rem;
}

#box2{
  margin: 5px 0px 0px 0px;
}

#inp2{
  margin: 0px 0px 0px 36px;
}

.container button{
  margin: 1.3rem 0px 0px 0.3rem;
  height: 2.7rem;
  width: 6.5rem;
  font-family: serif;
  font-size: 1.3rem;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

#generator{
   margin: 1.3rem 0px 0px 6.2rem;
}
.container button:hover{
  cursor: pointer;
}

h1{
  text-align: center;
  color: white;
}


textarea{
  font-size: 1.6rem;
  height: 19.6rem;
  outline: none;
  text-align: center;
  margin: 0.6rem 0px 0px 30rem;
  padding: 0.6rem 0rem;
  
}

@media screen and (max-width: 1100px){
  .container, textarea{
    display: block;
    margin: auto;
  }
}
